* {
    background:#778899;
}

h1{
  font-familly:Papyrus;
  text-align:center;
  font-style:bolder;
}

h3{
 font-familly:Papyrus;
 text-align:center;
 font-style:bolder;
}

p {
   font-family:Garamond;
   font-size:18pt;
}

div {

}